/****** Object:  StoredProcedure [dbo].[ResetCleanedModData]    Script Date: 13/02/2026 10:23:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ResetCleanedModData]
AS
BEGIN
    SET NOCOUNT ON;

    -- Clear table before inserting
    TRUNCATE TABLE [dbo].[CleanedModData];

    -- Use a CTE to clean and format data before inserting
    WITH FilteredMods AS (
        SELECT 
            m.name,
            m.summary,
            m.description,
            m.picture_url,
            -- Ensure INT compatibility by checking bounds
            CASE 
                WHEN m.mod_downloads > 2147483647 THEN 2147483647 
                ELSE TRY_CAST(m.mod_downloads AS INT) 
            END AS mod_downloads,
            CASE 
                WHEN m.mod_unique_downloads > 2147483647 THEN 2147483647 
                ELSE TRY_CAST(m.mod_unique_downloads AS INT) 
            END AS mod_unique_downloads,
            -- Convert decimal to NVARCHAR to match CleanedModData
            CAST(m.uid AS NVARCHAR(200)) AS uid,
            m.category_id,
            LEFT(m.version, 100) AS version,  -- Truncate to avoid errors
            m.endorsement_count,
            m.mod_id,
            m.game_id,
            m.created_timestamp,
			m.contains_adult_content,
            -- Convert NVARCHAR to BIT
            --CASE 
               -- WHEN LOWER(m.contains_adult_content) = 'true' THEN 1 
              --  WHEN LOWER(m.contains_adult_content) = 'false' THEN 0 
              --  ELSE NULL 
            --END AS contains_adult_content,
            CASE 
                WHEN LOWER(m.available) = 'true' THEN 1 
                WHEN LOWER(m.available) = 'false' THEN 0 
                ELSE NULL 
            END AS available,
            -- Ensure updated_time is a BIGINT
            m.updated_timestamp,
            m.allow_rating,
            m.author,
            m.uploaded_by,
            m.uploaded_users_profile_url,
            m.status,
            m.domain_name,
            JSON_VALUE(m.user_info, '$.member_id') AS member_id,
            JSON_VALUE(m.user_info, '$.name') AS user_name
        FROM Mods m
        WHERE 
            m.status != 'not found'
            AND TRY_CAST(m.mod_downloads AS BIGINT) IS NOT NULL
            AND TRY_CAST(m.mod_unique_downloads AS BIGINT) IS NOT NULL
			AND m.updated_time < '2026-02-07T06:28:15.000+00:00'
    )

    -- Insert cleaned data into CleanedModData
    INSERT INTO [dbo].[CleanedModData] (
        name, summary, description, detected_language, original_desc, patreon_url,
        picture_url, mod_downloads, mod_unique_downloads, uid, category_id,
        version, endorsement_count, mod_id, game_id, created_timestamp,
        allow_rating, updated_timestamp, author, uploaded_by, uploaded_users_profile_url,
        contains_adult_content, status, available, domain_name,
        member_id, user_name
    )
    SELECT 
        fm.name, fm.summary, fm.description, 
        NULL AS detected_language,
        fm.description AS original_desc,
        NULL AS patreon_url,
        fm.picture_url, fm.mod_downloads, fm.mod_unique_downloads, fm.uid, fm.category_id,
        fm.version, fm.endorsement_count, fm.mod_id, fm.game_id, fm.created_timestamp,
        fm.allow_rating, fm.updated_timestamp, fm.author, fm.uploaded_by, fm.uploaded_users_profile_url,
        fm.contains_adult_content, fm.status, fm.available, fm.domain_name,
        TRY_CAST(fm.member_id AS INT) AS member_id,
        fm.user_name
    FROM FilteredMods fm;
END;
