/****** Object:  StoredProcedure [dbo].[ResetGameCategories]    Script Date: 13/02/2026 10:25:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ResetGameCategories]
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Drop the old table
    DROP TABLE IF EXISTS [dbo].[GameCategories];

    -- Recreate the table
    CREATE TABLE [dbo].[GameCategories] (
        game_id INT,
        game_name NVARCHAR(255),
        domain_name NVARCHAR(255),
        category_id INT,
        category_name NVARCHAR(255),
        parent_category NVARCHAR(255),
        total_mods INT,
        total_endorsements INT,
        total_unique_downloads INT,
        group_category NVARCHAR(255) NULL,  
        group_id INT NULL,
		new_group_category NVARCHAR(255) NULL,  
        new_group_id INT NULL,
    );

    -- Insert data
    INSERT INTO [dbo].[GameCategories] (
        game_id, game_name, domain_name, category_id, category_name, parent_category, 
        total_mods, total_endorsements, total_unique_downloads
    )
    SELECT 
        g.id AS game_id,
        g.name AS game_name,
        g.domain_name,
        JSON_VALUE(c.value, '$.category_id') AS category_id,
        JSON_VALUE(c.value, '$.name') AS category_name,
        JSON_VALUE(c.value, '$.parent_category') AS parent_category,
        COUNT(m.[mod_id]) AS total_mods,
        SUM(m.[endorsement_count]) AS total_endorsements,
        SUM(m.[mod_unique_downloads]) AS total_unique_downloads
    FROM dbo.Games g
    CROSS APPLY OPENJSON(CAST(g.categories AS NVARCHAR(MAX))) AS c
    LEFT JOIN [dbo].[CleanedModData] m
        ON g.id = m.[game_id] 
        AND JSON_VALUE(c.value, '$.category_id') = m.[category_id]
    WHERE 
        JSON_VALUE(c.value, '$.parent_category') IS NOT NULL 
        AND JSON_VALUE(c.value, '$.parent_category') <> 'null'  -- Filters out explicit JSON nulls
        AND JSON_VALUE(c.value, '$.parent_category') <> ''      -- Filters out empty strings
    GROUP BY 
        g.id, 
        g.name, 
        g.domain_name, 
        JSON_VALUE(c.value, '$.category_id'), 
        JSON_VALUE(c.value, '$.name'), 
        JSON_VALUE(c.value, '$.parent_category');

    -- Update group_category and group_id
		WITH GameGroups AS (
			SELECT 
				gc.category_name AS initial_group_name,
				DENSE_RANK() OVER (ORDER BY gc.category_name) AS new_group_id
			FROM [dbo].[GameCategories] gc
			GROUP BY gc.category_name
		)
		UPDATE gc
		SET gc.group_category = gg.initial_group_name,  
			gc.group_id = gg.new_group_id
		FROM [dbo].[GameCategories] gc
		INNER JOIN GameGroups gg 
			ON gc.category_name = gg.initial_group_name;


END;
