/****** Object:  StoredProcedure [dbo].[ResetCleanedAuthorsData]    Script Date: 13/02/2026 10:25:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[ResetCleanedAuthorsData]
AS
BEGIN
    SET NOCOUNT ON;

    -- Faster than DELETE if no foreign keys
    TRUNCATE TABLE [dbo].[CleanedModAuthors];
	IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'CleanedModAuthors')
    BEGIN
        CREATE TABLE [dbo].[CleanedModAuthors] (
            member_id INT PRIMARY KEY,
            name NVARCHAR(255) NOT NULL,
            about NVARCHAR(MAX) NULL,
            country NVARCHAR(100) NULL,
            joined DATETIME NULL,
            last_active DATETIME NOT NULL,
            avatar NVARCHAR(500) NULL,
            recognized_author BIT NULL,
            mod_count INT NULL,
            collection_count INT NULL,
            contributed_mod_count INT NULL,
            owned_mod_count INT NULL,
            endorsements_given INT NULL,
            posts INT NULL,
            kudos INT NULL,
            unique_mod_downloads INT NULL,
            views INT NULL,
            video_count INT NULL,
            image_count INT NULL,
            banned BIT NULL,
            deleted BIT NULL,
            moderation_history_count INT NULL,
            donations_enabled BIT NULL,
            roles NVARCHAR(MAX) NULL,
            mod_domains NVARCHAR(MAX) NULL, -- List of domains
            mod_domain_count INT NULL       -- Unique count of domains
        );
    END

    -- Insert cleaned authors with aggregated mod domain data
    INSERT INTO [dbo].[CleanedModAuthors] (
        member_id, name, about, country, joined, last_active, avatar,
        recognized_author, mod_count, collection_count, contributed_mod_count, owned_mod_count,
        endorsements_given, posts, kudos, unique_mod_downloads, views,
        video_count, image_count, banned, deleted, moderation_history_count, 
        donations_enabled, roles,
        mod_domains, mod_domain_count
    )
    SELECT 
        a.member_id,
        a.name,
        a.about,
        a.country,
        a.joined,
        a.last_active,
        a.avatar,
        a.recognized_author,
        a.mod_count,
        a.collection_count,
        a.contributed_mod_count,
        a.owned_mod_count,
        a.endorsements_given,
        a.posts,
        a.kudos,
        a.unique_mod_downloads,
        a.views,
        a.video_count,
        a.image_count,
        a.banned,
        a.deleted,
        a.moderation_history_count,
        a.donations_enabled,
        a.roles,

        -- Aggregate domains into a comma-separated list
        STUFF((
            SELECT DISTINCT ',' + m.domain_name
            FROM Mods m
            WHERE TRY_CAST(JSON_VALUE(m.user_info, '$.member_id') AS INT) = a.member_id
            FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 1, '') AS mod_domains,

        -- Count distinct domains per author
        (SELECT COUNT(DISTINCT m.domain_name)
         FROM Mods m
         WHERE TRY_CAST(JSON_VALUE(m.user_info, '$.member_id') AS INT) = a.member_id
        ) AS mod_domain_count

    FROM dbo.Authors AS a
    WHERE a.deleted = 0
        AND a.last_active IS NOT NULL
        AND a.last_active >= '2024-01-01';
END;

